<div class="container">

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <a href="https://github.com/uforanch/CloudResume"><h6 class="mt-3">Github link for this page</h6></a>
<a href="https://github.com/uforanch/Employee-Reimbursement-Full-Stack-Development-" target="_blank"><h6 class="mt-3">Employee Reimbursment App: Solo project in Spring Web with React Frontend, authentication/authorization, Docker deployment </h6></a>
<a href="https://github.com/Naginipython/revature_project2/tree/master" target="_blank"><h6 class="mt-3">Budget App: Group project in Spring Web and React Frontend with full tests of service layer and build files, authentication/authorization, Docker deployment</h6></a>
<a href="https://github.com/uforanch/fastUrlShort" target="_blank"><h6 class="mt-3">FastAPI url shortener, made in two hours as one file and with Docker deployment</h6></a>
<a href="https://github.com/uforanch/fastapiBackend00" target="_blank"><h6 class="mt-3">Demonstration of a fastAPI project with authentication/authorization</h6></a>
<a href="https://github.com/uforanch/MicroProjectTODO" target="_blank"><h6 class="mt-3">Small Todo app in angular with drag and drop items and animations</h6></a>
<a href="https://github.com/uforanch/intprojM02" target="_blank"><h6 class="mt-3">Demonstration of a multithreaded Python project with Streamlit frontend</h6></a>
<a href="https://github.com/uforanch/lc_solution" target="_blank"><h6 class="mt-3">Selected Leetcode Solutions in Java</h6></a>
<a href="https://github.com/uforanch/lc_solutions" target="_blank"><h6 class="mt-3">Selected Leetcode Solutions in Python</h6></a>
</div>
</div>