
<div class="container align-items-center justify-content-center text-center">
    
<p >I am a former mathematician who got his start in the field of competitive mathematics. 
    Solving difficult problems always has been a passion of mine. Not only do I have two USAMO Honorable Mentions, 
    but I have an Honorable Mention on the Putnam as well. I have also participated in the MIT Mystery Hunt many times. </p>

<p >After getting my  Masters from Carnegie Mellon, I worked with many professors on a variety of research problems, 
    but decided research mathematics wasn't what I wanted to do with my career. I have since transitioned to software development, 
    using the Python skills that I gained from my studies.</p>

    <p >I enjoy learning new things and building applications, and I hope to use my skills to make a positive impact on the world. </p>
</div>