<p> image goes here, centered</p>
<p>name and stuff goes here</p>
<p>visiter count goes here, centered</p>

<nav class="navbar navbar-expand navbar-dark bg-dark">
   
    <ul class="navbar-nav">
        <li>
            <a class="nav-link mt-2 fs-5" routerLink="/socials">
                Socials
            </a>
        <li>
            <a class="nav-link mt-2 fs-5" routerLink="/experience">
                Experience
            </a>
        </li>
        <li>
            <a class="nav-link mt-2 fs-5" routerLink="/portfolio">
                portfolio
            </a>
        </li>
    </ul>
</nav>