<div class="education_container text-center">
<h6>Carnegie Mellon University</h6><h6><span class="fw-light">Masters of Mathematics, ACO Program (Algorithms, Combinatorics, Operations Research)</span></h6>
<h6>Massachusetts Institute of Technology</h6><h6><span class="fw-light">Bachelor of Science 18C (Mathematics with Theoretical Computer Science)</span></h6>
</div>
<hr class="hr hr-blurry">
<div class ="education_container text-center">
<a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/PDVVRV5Q4MRE"><h6>Machine Learning Certification (Stanford Online, Andrew Ng)</h6></a>
<a target="_blank" href="https://www.coursera.org/account/accomplishments/specialization/VQ5N2H7AWA26"><h6>Deep Learning Certification (DeepLearning.ai, Andrew Ng)</h6></a>
</div>
<hr class="hr hr-blurry">
<div class ="education_container text-center">
    <h6>Datacamp Certifications, Data Analytics Technologies</h6>
<a target="_blank" href="https://www.datacamp.com/completed/statement-of-accomplishment/course/de0f79d1cb91c3ba24aba43a7855e18da5e1dcdb"><h6>Introduction to Statistics</h6></a>
<a target="_blank" href="https://www.datacamp.com/completed/statement-of-accomplishment/course/2efe1fab64c331f9e5208dcc7a693e94f7dfa4d7"><h6>Introduction to Excel</h6></a>
<a target="_blank" href="https://www.datacamp.com/completed/statement-of-accomplishment/course/0ff88a75102adbc2e02e75f9d13502713afdc298"><h6>Data Analysis in Excel</h6></a>
<a target="_blank" href="https://www.datacamp.com/completed/statement-of-accomplishment/course/3f90ab7a818a192b70dbeb28fe8a82ea830e1b46"><h6>Data Preparation in Excel</h6></a>
<a target="_blank" href="https://www.datacamp.com/completed/statement-of-accomplishment/course/f51309f43631343f7e1033889b1f00723e31a24c"><h6>Data Visualization in Excel</h6></a>
<a target="_blank" href="https://www.datacamp.com/completed/statement-of-accomplishment/course/ef07edb3231d9605d063b0e28f2b7546939b686e"><h6>Introduction to Power Query in Excel</h6></a>
<a target="_blank" href="https://www.datacamp.com/completed/statement-of-accomplishment/course/b4195ddee78eb3fe024e1ee868047fc37f6acb49"><h6>Intermediate Power Query in Excel</h6></a>
</div>