

<div class="text-center align-items-center justify-content-center">
  
  

<h5>Software Development</h5>

<div class="d-flex align-items-start justify-content-start mt-3">
  <div class="d-flex flex-column align-items-center me-4" style="min-width: 220px;max-width: 220px;">
    <h6>Revature, July 2024</h6>
       <h6 class="fw-light">Full Stack Software Developer (JAVA, REACT, ANGULAR)</h6>
    
  </div>
<ul class="mb-0">
    <li>Created Employee Reimbursement Application through solo development with React and Typescript frontend and Spring Boot backend. </li>
<li>Worked with others to create an Envelope Transaction Tracking Application with React and Typescript frontend and Spring Boot backend connected to PostgreSQL database and to deploy the application on AWS.</li>
<li>Gained and showcased proficiency with Java, Spring Framework, Hibernate, Maven, Docker, Jenkins, Kafka and other industry-standard tools and technologies through on hand training and 100+ exercises and evaluations. </li>
</ul>
</div>

<div class="d-flex align-items-start justify-content-start mt-3">
  <div class="d-flex flex-column align-items-center me-4" style="min-width: 220px; max-width: 220px;">
    <h6 >Simspace,  Jan 2020-July 2023</h6>

    <h6 class="fw-light">Cybersecurity Software Developer (PYTHON)</h6>
  
  </div>
<ul class="mb-0">
    <li>  Introduced vital Python-based BLUFOR defense system by adding automated ETL pipeline from multiple network monitors such as Crowdstrike, Kibana, and Squert to a continuous, validated MongoDB data store </li>
<li>Implemented other vital features into BLUFOR defense system under strict deadlines in a fast paced startup environment, resulting in BLUFOR successfully passing its initial and subsequent live tests. </li>
<li>Led team building efforts, screening resumes, designing interview questions, and conducting and grading interviews for candidates, resulting in the expansion of the Special Projects Data Team from a single member and a part-time student to a fully-fledged team of 10 individuals across two teams. </li>
<li>Successfully onboarded all team members, ensuring seamless integration and fostering effective collaboration within the growing data team.</li>
</ul>
</div>

</div>
<hr class="hr hr-blurry">


<div class="text-center align-items-center justify-content-center">
  
  

<h5>Educational Roles</h5>

<div class="d-flex align-items-start justify-content-start mt-3">
  <div class="d-flex flex-column align-items-center me-4" style="min-width: 220px; max-width: 220px;">
    <h6>Carnegie Mellon</h6>
       <h6 class="fw-light">Teacher's Assistant</h6>
    
  </div>
<ul class="mb-0">
    <li>Responsible for leading recitations, holding office hours to answer student questions, and grading student work in subjects such as Differential Equations, Calculus, and Linear Algebra. </li>
</ul>
</div>
<div class="d-flex align-items-start justify-content-start mt-3">
  <div class="d-flex flex-column align-items-center me-4" style="min-width: 220px; max-width: 220px;">
    <h6>Wyzant</h6>
       <h6 class="fw-light">Independent Tutor</h6>
    
  </div>
<ul class="mb-0">
    <li>Responsible for grading student work and guiding students during interactive online mathematical lectures on Geometry, Combinatorics, Algorithms, and other mathematical subjects. </li>
</ul>
</div>

<div class="d-flex align-items-start justify-content-start mt-3">
  <div class="d-flex flex-column align-items-center me-4" style="min-width: 220px; max-width: 220px;">
    <h6>Assistant Mathematics Instructor</h6>
       <h6 class="fw-light">Art of Problem Solving</h6>
    
  </div>
<ul class="mb-0">
    <li>Mentored students for the Putnam mathematics competition, created study materials, and sent feedback on student work. </li>
</ul>
</div>




</div>